NEXT_PUBLIC_API_URL=http://localhost:8787
NEXT_PUBLIC_SSO_URL=https://gymkhana.iitb.ac.in/profiles/oauth/authorize/?client_id=YOUR_CLIENT_ID&response_type=code&scope=basic+profile+ldap&redirect_uri=http://localhost:3000/login
